<div class="jumbotron">
   <h1>Concours Photo du LORIA</h1>
	<img src="/assets/cameralens400.png" class="img-responsive" />
   <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
 </div>

<% @contests.each do |contest| %>
<div class="row">
   <div class="col-sm-8">
	 	<h3 class="text-center"><%= contest.title %></h3>
	 	<p class="text-center"><%= contest.body %></p>
    <p class="text-center"><%= link_to 'Participer et gagnez peut-être un iPad', contest, :class => 'btn btn-lg btn-primary' %>
	 </div>
   <div class="col-sm-4">
		 <h4 class="text-center">CONDITIONS</h4>
 	 	 <h5 class="text-center">Date de participation</h5>
		 <p class="text-center">Commence le <%= t contest.date_start %></p><p class="text-center">Termine le <%= t contest.date_end %></p>
 	 	 <h5 class="text-center">Nombre de photos par participants : <%= contest.max_photos_per_user %></h5>
	 </div>
</div>
<% end %>
