<div class="jumbotron">
   <h1><%= Settings.app_jumbotron_title %></h1>
	<img src="/assets/cameralens400.png" class="img-responsive" />
   <p class="lead"><%= raw Settings.app_jumbotron_description %></p>
 </div>

<% if @open_contests.size > 0 %>
<h2 class="text-center plain-title discreet">CONCOURS OUVERTS</h2>
	<% @open_contests.each do |contest| %>
	<div class="row open-contests">
		 	<h3 class="text-center"><%= contest.title %></h3>
		 <h4 class="text-center text-danger">Termine dans <%= distance_of_time_in_words_to_now contest.date_end %></h4>
		 <p class="text-center"><%= contest.description %></p>
	   <p class="text-center"><%= link_to contest.action_title, contest, :class => 'btn btn-lg btn-primary' %>
	</div>
	<% end %>
<% else%>
	<h5 class="text-center discreet">Il n'y a pas de concours ouvert actuellement.<h5>
<% end %>

<% if @on_vote_contests.size > 0 %>
<h2 class="text-center plain-title discreet">VOTES EN COURS</h2>
	<% @on_vote_contests.each do |contest| %>
	<div class="row open-contests">
		<h3 class="text-center"><%= contest.title %></h3>
		<h4 class="text-center text-danger">Termine dans <%= distance_of_time_in_words_to_now contest.date_end %></h4>
		<p class="text-center"><%= contest.description %></p>
		<% if contest.status == "open" %>
			<p class="text-center"><%= link_to contest.action_title, contest, :class => 'btn btn-lg btn-primary' %>
		<% else %>
			<p class="text-center"><%= link_to contest.vote_action_title, contest, :class => 'btn btn-lg btn-primary' %>
		<% end %>
	</div>
	<% end %>
<% end %>

<% if @open_contests.size == 0 and @on_vote_contests.size == 0 %>
	<h5 class="text-center discreet">Il n'y a pas de concours ouvert actuellement.<h5>
<% end %>

<!-- 
<h2 class="text-center plain-title discreet">CONCOURS CLOS</h2>
<% if @closed_contests.size > 0 %>
	<% @closed_contests.each do |contest| %>
	<div class="row open-contests">
		 	<h3 class="text-center discreet"><%= contest.title %></h3>
		 <h4 class="text-center discreet">Terminé depuis <%= distance_of_time_in_words_to_now contest.date_end %></h4>
		 <p class="text-center discreet"><%= contest.description %></p>
	</div>
	<% end %>
<% else%>
	<h5 class="text-center discreet">Il n'y a aucun concours clos enregistré<h5>
<% end %>
-->