<p id="notice"><%= notice %></p>

<h1><%= @contest.title %></h1>

<h3>Participations ouvertes du <%= @contest.date_start %> au <%= @contest.date_end %></h3>

<p><%= @contest.body %></p>


<p>
  <b>Nombre de photos par participant : </b>
  <%= @contest.max_photos_per_user %>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
