<h1><%= @contest.title %></h1>

<h3 class="discreet">Termine dans <%= distance_of_time_in_words_to_now @contest.date_end %></h3>

<p><%= @contest.body %></p>

<div class="row">
<% for photo in @my_photos %>
	<div class="col-sm-4 photo-display text-center">
		<h4><%= photo.title %></h4>
		<div class="photo-frame">
		<img src="/assets/stan.png" class="img-responsive" />
		</div>
		<%= photo.description %><br />
		<%= link_to 'Modifier', edit_photo_path(photo), :class => "btn btn-primary btn-sm" %>
		<%= link_to 'Supprimer', photo, method: :delete, data: { confirm: 'Voulez-vous supprimer cette photo ?' }, :class => "btn btn-danger btn-sm" %>
	</div>
<% end %>
</div>

<div class="modal fade" id="add-picture-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
			<%= render 'photos/add' %>
		</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<hr />

<!-- Button trigger modal -->
 <a data-toggle="modal" href="#add-picture-modal" class="btn btn-primary">Ajouter une photo</a>
   (Nombre de photos par participant : <%= @contest.max_photos_per_user %>)
 
<% if is_admin? %>
	<%= link_to 'Modifier le concours', edit_contest_path(@contest), :class => "btn btn-large btn-primary" %>
<% end %>
