<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @contest.title %>
</p>

<p>
  <b>Body:</b>
  <%= @contest.body %>
</p>

<p>
  <b>Date start:</b>
  <%= @contest.date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= @contest.date_end %>
</p>

<p>
  <b>Max photos per user:</b>
  <%= @contest.max_photos_per_user %>
</p>

<p>
  <b>Max vote per user:</b>
  <%= @contest.max_vote_per_user %>
</p>

<p>
  <b>Vote start:</b>
  <%= @contest.vote_start %>
</p>

<p>
  <b>Vote end:</b>
  <%= @contest.vote_end %>
</p>


<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
