<h1><%= @contest.title %></h1>

<h3 class="discreet">Termine dans <%= distance_of_time_in_words_to_now @contest.date_end %></h3>

<p><%= @contest.body %></p>

<h2>Mes photos</h2>

<div class="row">
<% if @my_photos.size > 0 %>
	<% for photo in @my_photos %>
		<div class="col-sm-4 photo-display text-center">
			<div class="photo-title">
				<h4><%= photo.title %></h4>
			</div>
			<div class="photo-frame">
				<%= image_tag photo.image.url(:medium), :class => "img-responsive" %>
			</div>
			<%= photo.description %><br />
			<%= link_to 'Modifier', edit_photo_path(photo), :class => "btn-sm" %>
			<%= link_to 'Supprimer', photo, method: :delete, data: { confirm: 'Voulez-vous supprimer cette photo ?' }, :class => "btn-sm" %>
		</div>
	<% end %> <!-- for photo-->
<% else%>
	<p class="text-center">Ajoutez vos photos pour ce concours grâce au bouton ci dessous.<p>
<% end %>
</div>

<div class="modal fade" id="add-picture-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
			<%= render 'photos/form' %>
		</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<hr style="border:none; margin-top: 50px"/>

<!-- Button trigger modal -->
<p class="text-center">
	<a data-toggle="modal" href="#add-picture-modal" class="btn btn-primary">Ajouter une photo</a>
</p>
<p class="discreet text-center">Nombre de photos par participant : <%= @contest.max_photos_per_user %></p>
 
<% if is_admin? %>
	<%= link_to 'Modifier le concours', edit_contest_path(@contest), :class => "btn btn-large btn-warning" %>
<% end %>
