<h1><%= @contest.title %></h1>

<h3>
	<%= status_label(@contest.status) %>
	<span class="discreet"><%= contest_status_sentence(@contest) %></span>
</h3>

<p style="margin-top:20px;"><%= simple_format @contest.body %></p>

<% if @contest.status == "open" %>
	<%= render :partial => 'contests/photo_panel', :locals => { :photos => @my_photos, :contest => @contest }%>
<% elsif @contest.status == "vote_open" %>
	<%= render :partial => 'contests/vote_panel', :locals => { :photos => @contest.photos, :contest => @contest }%>
<% end %>

<% if is_admin? %>
	<%= render :partial => 'contests/vote_panel', :locals => { :photos => @contest.photos, :contest => @contest }%>
<% end %>