<%= form_for(['admin',@contest], html: { :class => 'form-horizontal', :role => 'form'}) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Titre', :class => 'col-sm-3 control-label' %>
    <div class="col-sm-9">
			<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titre' %>
		</div>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Description (courte)', :class => 'col-sm-3 control-label' %>
    <div class="col-sm-9">
			<%= f.text_field :description, :class => 'form-control', :placeholder => 'Description' %>
		</div>
  </div>

  <div class="form-group">
    <%= f.label :action_title, 'Titre de l\'action', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.text_field :action_title, :class => 'form-control', :placeholder => 'Participer' %>
		</div>
  </div>
	
  <div class="form-group">
    <%= f.label :vote_action_title, 'Action de votes', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.text_field :vote_action_title, :class => 'form-control', :placeholder => 'Voter' %>
		</div>
  </div>
	
  <div class="form-group">
    <%= f.label :body, 'Texte du concours (plus long)', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.text_area :body, :class => 'form-control', :placeholder => 'Texte du concours' %>
		</div>
  </div>
	
  <div class="form-group">
    <%= f.label :date_start, 'Début du concours', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.datetime_select :date_start, :class => 'form-control' %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :date_end, 'Fin du concours', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.datetime_select :date_end, :class => 'form-control'%>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :max_photos_per_user, 'Nombre de photos maximum par participant', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.number_field :max_photos_per_user, :class => 'form-control' %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :max_vote_per_user, 'Vote maximum par utilisateur', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.number_field :max_vote_per_user %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :vote_start, 'Début des votes', :class => 'col-sm-3 control-label' %>
		<div class="col-sm-9">
    <%= f.datetime_select :vote_start %>
		</div>
  </div>
  <div class="form-group">
    <%= f.label :vote_end, 'Fin des votes', :class => 'col-sm-3 control-label'%>
		<div class="col-sm-9">
    <%= f.datetime_select :vote_end %>
		</div>
  </div>
  <div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
		<% if @contest.new_record? %>
			<%= f.submit "Créer le concours", :class => "btn btn-primary" %>
		<% else %>
			<%= f.submit "Modifer le concours", :class => "btn btn-primary" %>
		<% end %>
		</div>
  </div>
<% end %>
