<h2 class="modal-title">Administrer le concours</h2>
<div class="row">
	<div class="col-sm-12 text-right">
		<p> 
			<span class="discreet"><%= contest_status_sentence(@contest) %></span>
			<%= status_label(@contest.status) %>
		</p>
	</div>
</div>

<ul class="nav nav-tabs" id="contest-admin-tabs">
  <li class="active"><a href="#admin-contest-edit" data-toggle="tab">Modifier</a></li>
  <li><a href="#admin-contest-photos" data-toggle="tab">Participations <span class="badge"><%= @contest.photos.size %></span></a></li>
  <li><a href="#admin-contest-votes" data-toggle="tab">Votes <span class="badge"><%= @contest.votes.size %></span></a></li>
</ul>

<div class="modal-body">
	<div class="tab-content">
	  <div class="tab-pane active" id="admin-contest-edit">
			<%= render 'form' %>
		</div>
	  <div class="tab-pane" id="admin-contest-photos">
			<% if @photos.size > 0 %>
				<h2>Toutes les photos</h2>
				<%= render :partial => '/admin/photos/list', :locals => { :photos => @photos, :contest => @contest, :moderation => true } %>
			<% else%>
				<h4 class="text-center no-photo discreet">Aucune photo pour ce concours.<h4>
			<% end %>
		</div>
	  <div class="tab-pane" id="admin-contest-votes">
			<% if @photos.size > 0 %>
				<h2>Photo les plus votées</h2>
				<%= render :partial => '/admin/photos/list', :locals => { :photos => Photo.top_voted_for_contest(@contest.id), :contest => @contest, :moderation => false } %>
			<% else%>
				<h4 class="text-center no-photo discreet">Aucune photo pour ce concours.<h4>
			<% end %>
		</div>
	</div>
</div>

