<h2>Tous les concours</h2>
<% if @contests.size > 0 %>
	<table class="table">
		<thead>
			<th>Titre</th>
			<th>Description</th>
			<th>Dates</th>
			<th>Actions</th>
	 	 	<th class="text-right">Status</th>
		</thead>
		<% for contest in @contests.each %>
			<tr>
				<td><%= contest.title %></td>
		 	 	<td><%= contest.description %></td>
		 	 	<td><%= contest_status_sentence(contest) %></td>
		 	 	<td><%= link_to "Modifier", edit_admin_contest_path(contest) %></td>
		 	 	<td class="text-right"><%= status_label(contest.status) %></td>
			</tr>
		<% end %>
	</table>
<% else%>
	<h5 class="text-center discreet">Il n'y a pas de concours.<h5>
<% end %>
	
<h3>Légende</h3>
<div class="well well-lg">
	<div class="row">
		<span class="col-sm-2"><%= status_label('waiting') %></span>
		<span class="col-sm-10">Le concours n'a pas commencé, les utilisateurs ne le voient pas encore.</span>
	</div>
	<div class="row">
		<span class="col-sm-2"><%= status_label('open') %></span>
		<span class="col-sm-10">Le concours a commencé, les utilisateurs peuvent participer.</span>
	</div>
	<div class="row">
		<span class="col-sm-2"><%= status_label('finished') %></span>
		<span class="col-sm-10">Les participations sont terminées, les utilisateurs ne peuvent pas encore voter.</span>
	</div>
	<div class="row">
		<span class="col-sm-2"><%= status_label('vote_open') %></span>
		<span class="col-sm-10">Les utilisateurs peuvent voter.</span>
	</div>
	<div class="row">
		<span class="col-sm-2"><%= status_label('vote_closed') %></span>
		<span class="col-sm-10">Le concours et terminé et les utilisateurs ne peuvent plus voter.</span>
	</div>
</div>

<%= link_to 'Créer un concours', new_admin_contest_path, :class => "btn btn-primary" %>