<div class="col-xs-2 photo-display text-center">
	<div class="photo-title">
		<h4 class="discreet"><small><%= truncate photo.title, :length => 20 %></small></h4>
	</div>
	<div class="photo-frame">
		<a href="<%= photo.image.url %>" rel="lightbox[]" title="<%= photo.title %>">
			<%= image_tag photo.image.url(:thumb), :class => "img-responsive" %>
		</a>
	</div>
		<small><%= simple_format truncate photo.description, :length => 128 %></small>
	<%= link_to 'Contacter', "mailto:#{LdapUser.find(photo.user_uid).mail}?subject=A propos de votre photo \"#{photo.title}\" pour le concours photo.", :class => "btn-sm" %>
	<%= link_to 'Supprimer', photo, method: :delete, data: { confirm: 'Voulez-vous supprimer cette photo ?' }, :class => "btn-sm" %>
</div>