<%= form_for(@photo, html: { :class => 'form-horizontal', :role => 'form'}) do |f| %>

	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h4 class="modal-title">Ajouter une photo</h4>
	</div> <!-- /modal-header -->

	<div class="modal-body">
	  <% if @photo.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
	      <ul>
	      <% @photo.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %> <!-- errors -->

		<!-- title -->
	  <div class="form-group">
	    <%= f.label :title, 'Titre', :class => 'col-sm-3 control-label' %>
	    <div class="col-sm-9">
				<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titre' %>
			</div>
	  </div>
		
		<!-- description -->
	  <div class="form-group">
	    <%= f.label :description, 'Description', :class => 'col-sm-3 control-label' %>
			<div class="col-sm-9">
				<%= f.text_area :description, :class => 'form-control', :placeholder => 'Description', :rows => 5 %>
			</div>
		  <%= f.hidden_field :contest_id %>
	  </div>
		
		<!-- photo upload -->
	  <div class="form-group">
	    <label for="exampleInputFile" class="col-sm-3 control-label">Photo</label>
			<div class="col-sm-9">
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Choisir une photo depuis votre ordinateur.</p>
			</div>
	  </div>
		
	</div>  <!-- /modal-body -->

	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  <%= f.submit 'ajouter la photo', :class =>  "btn btn-primary" %>
	</div><!-- /modal-footer -->

<% end %> <!-- /form -->
