<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 photo-display small-frame text-center">
	<div class="photo-frame">
		<a href="<%= photo.image.url %>" rel="lightbox[]" title="<%= photo.title %>">
			<%= image_tag photo.image.url(:medium), :class => "img-responsive thumbnail" %>
		</a>
	</div>
	<p class="text-center">
		<a class="btn-sm btn-default text-left like-button">
			j'aime
		</a>
		<!-- <img src="/assets/ajax-loader.gif" /> -->
		<img class="photo-infos-popover text-right" rel="popover" data-original-title="<%= photo.title %>" data-content="<%= simple_format  photo.description %>" src="/assets/info_button.png" />
		</a>
	</p>
</div>