<div class="col-xs-2 photo-display text-center">
	<div class="photo-title">
		<h4 class="discreet"><small><%= photo.title %></small></h4>
	</div>
	<div class="photo-frame">
		<a href="<%= photo.image.url %>" rel="lightbox[]" title="<%= photo.title %>">
			<%= image_tag photo.image.url(:thumb), :class => "img-responsive" %>
		</a>
	</div>
	<%= photo.description %><br />
	<%= link_to 'J\'aime', "", :class => "btn-sm btn-default" %>
</div>