<div class="col-sm-4 photo-display text-center">
	<div class="photo-title">
		<h4><%= truncate photo.title, :length => 67 %></h4>
	</div>
	<div class="photo-frame">
		<a href="<%= photo.image.url %>" rel="lightbox[]" title="<%= photo.title %>">
			<%= image_tag photo.image.url(:medium), :class => "img-responsive" %>
		</a>
	</div>
	<%= simple_format photo.description %><br />
	<%= link_to 'Modifier', edit_photo_path(photo), :class => "btn-sm" %>
	<%= link_to 'Supprimer', photo, method: :delete, data: { confirm: 'Voulez-vous supprimer cette photo ?' }, :class => "btn-sm" %>
</div>