<!DOCTYPE html>
<html>
<head>
  <title>PhotoContest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/contests"><%= Settings.app_short_title %></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= "active" if params[:controller]=='contests' and  params[:action]=='index'%>"><a href="/contests">Accueil</a></li>
					<% if is_connected? %>
						<%= render :partial => 'contests/navbar_list' %>
					<% end %>
					<% if is_admin? %>
          <li class="dropdown <%= "active" if params[:controller]=='admin/contests' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrateur <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/admin/contests">Tous les concours&nbsp;<span class="badge pull-right"><%= Contest.all.size %></span></a></li>
              <li><a href="/admin/contests/new">Créer un concours</a></li>
            </ul>
          </li>
					<% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
				<% if session[:cas_user] %>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenue <%= connected_user.cn %> <b class="caret"></b></a>
	          <ul class="dropdown-menu">
							<li><%= link_to "se déconnecter", '/contests/logout' %></li>
	          </ul>
	        </li>
				<% else %>
					<li><%= link_to "se connecter (CAS)", '/contests/login' %></li>
				<% end %>	
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
	
  <div class="container">

		<% if notice %>
		<div class="alert alert-info"><%= notice %></div>
		<% end %>
		<% if alert %>
		<div class="alert alert-danger"><%= alert %></div>
		<% end %>
		
		<!-- Main component for a primary marketing message or call to action -->
	 	<%= yield %>

    <div class="footer">
      <p class="discreet"><img src="/assets/logo_loria_small.jpg" class="footer-loria-logo">Concours photo du  Laboratoire lorrain de recherche en informatique et ses applications</p>
    </div>
		
  </div> <!-- /container -->


</body>
</html>
